<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <!-- For testing purpose -->
    <% for(let sponsor of sponsors) { %>
        <img src = "<%= sponsor.imageUrl %>" alt="<%= sponsor.name %>">
    <% } %>

</body>
</html>